:root {
	--border: 2px solid #f2feff;
	--color: #90f1fe;
}

* {
	box-sizing: border-box;
}

body {
	line-height: 24px;
	margin: 32px;
	margin-top: 64px;
	color: #f2feff;
	font-size: 18px;
	font-family: 'w95fa', sans-serif;
	background-image: url(img/bg.gif);
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

header {
	margin-left: 24px;
	margin-right: 24px;
}

#accent {
	opacity: 0.1;
	position: absolute;
	left: 0;
	top: 0;
}

.secret {
	display: none;
}

#accent:checked ~ .secret {
	display: inline;
	position: absolute;
	top: 0;
	left: 32px;
}

#accent:checked ~ * {
	--color: #92ffc3;
}

#content {
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 8px;
	clear: both;
}

#navdiv {
	display: none;
}

a, a:link {
	color: var(--color);
	transition: 0.2s linear;
}

a:hover {
	color: #cdf9fe;
	transition: 0.2s linear;
}

#flexcontainer {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 16px;
	border-bottom: var(--border);
}

.fbox {
	flex: 1;
}

.window {
	border: #f2feff 2px solid;
	box-shadow: 8px 8px #323636;
	background-color: #121919;
	margin-top: 32px;
}

.subwindow {
	border: #f2feff 2px solid;
	box-shadow: 8px 8px #323636;
	background-color: #121919;
}

.subtab {
	padding: 12px;
	padding-left: 32px;
	padding-right: 32px;
}

.subtab nav {
	padding-bottom: 24px;
	border-bottom: var(--border);
}

.subtitle {
	float: right;
}

#sidebar {
	border-right: var(--border);
	text-align: left;
	max-width: 200px;
}

#sidebar a {
	display: flex;
	flex-direction: column;
	padding-top: 6px;
	padding-bottom: 6px;

}

textarea {
	font-family: 'CozetteVector', monospace;
	width: 100%; 
	height: 100px;
	background-color: #081010;
	color: var(--color);
	border: 2px solid #f2feff;
}

#changelog {
	border-top: 0;
	margin-top: 0;
	padding: 12px;
	padding-left: 32px;
	padding-right: 32px;
}

mark {
	background-color: var(--color);
	font-family: 'CozetteVector', monospace;
}

details summary {
	list-style: none;  
}

details summary:hover {
	cursor: pointer;
}


details summary::before {
	font-family: 'CozetteVector';
	font-weight: bold;
	content: '+ ';
}

details[open=""] summary::before {
	font-family: 'CozetteVector';
	font-weight: bold;
	content: '- ';
}

#changelog details ol {
	max-height: 300px;
	overflow-y: scroll;
}

.symb {
	font-size: 1.2em;
	color: var(--color);
	font-family: 'CozetteVector';
}

footer {
	text-align: center;
	padding: 12px;
}

details {
	margin-bottom: 16px;
}

mark {
	margin-right: 8px;
	padding-left: 2px;
	padding-right: 2px;
}

ol, ul {
	list-style-type: none;
	padding-left: 16px;
}

li {
	margin-top: 8px;
}

.add::before {
	content: '+ ';
	color: #92ffc3;
	font-family: 'CozetteVector';
}

.remove::before {
	content: '- ';
	color: #EE4545;
	font-family: 'CozetteVector';
}

.change::before {
	content: ' ';
	color: #909090;
	font-family: 'CozetteVector';
}

.special::before {
	content: '⋆ ';
	color: #F4C925;
	font-family: 'CozetteVector';
}

#buttons a {
	text-decoration: none;
}

#buttons {
	margin-top: 12px;
}

.marquee {
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
}
  
.marquee span {
	display: inline-block;
	padding-left: 100%;
	will-change: transform;
	animation: marquee 15s linear infinite;
}
  
.marquee span:hover {
	animation-play-state: paused
}
  
@keyframes marquee {
	0% { transform: translate(0, 0); }
	100% { transform: translate(-100%, 0); }
}

@media only screen and (max-width: 700px) {
	#sidebar {
		border-bottom: #f2feff 2px solid;
		border-right: 0;
    	margin-top: 4px;
		max-height: 64px;
		max-width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	#navTitle {
		display: none;
	}
	#flexcontainer {
		flex-direction: column;
	}
}