/* cozettevector */
@font-face {
	font-family: CozetteVector;
	font-style: normal;
	font-weight: 500;
	src: local("CozetteVector"), url(cozettevector.woff2) format("woff2"), url(cozettevector.woff) format("woff");
}

